<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>validateUser</servlet-name>
        <servlet-class>validateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>addUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAddressBook</servlet-name>
        <servlet-class>AddAddressBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAddressBook</servlet-name>
        <servlet-class>DeleteAddressBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAddressBook</servlet-name>
        <servlet-class>UpdateAddressBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validateUser</servlet-name>
        <url-pattern>/validateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAddressBook</servlet-name>
        <url-pattern>/AddAddressBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAddressBook</servlet-name>
        <url-pattern>/DeleteAddressBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAddressBook</servlet-name>
        <url-pattern>/UpdateAddressBook</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
